<%- include("templates/header") %>
<div class="d-flex justify-content-center align-items-center flex-fill mt-5">
  <div class="card shadow-lg p-4 my-4" style="border-radius: 16px; max-width: 800px; width: 100%; max-height:fit-content;">
      <h2 class="mb-2 text-center">Admin Dashboard</h2>
      <p class="text-danger mb-4"><code>Admin access only</code></p>

      <div class="container">
        <h3>User API Calls Consumption</h3>
        <div id="adminInfo" class="table-responsive">
          <table id="userTable" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Email</th>
                <th>API Calls Used</th>
                <th>API Calls Remaining</th>
              </tr>
            </thead>
            <tbody>
              <% if (users && users.length> 0) { %>
                <% users.forEach(function(user) { %>
                  <tr>
                    <td>
                      <%= user.user__email %>
                    </td>
                    <td>
                      <%= user.request_count %>
                    </td>
                    <td>
                      <%= user.token_count %>
                    </td>
                  </tr>
                  <% }) %>
                    <% } else { %>
                      <tr>
                        <td colspan="3" class="text-center">No user data available</td>
                      </tr>
                      <% } %>
            </tbody>
          </table>
        </div>
      </div>

    <div class="container text-center">
      <button onclick="goHome()" class="btn btn-primary fw-medium">Go Home</button>
    </div>
  </div>
</div>

  <%- include("templates/footer") %>